<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ger. Contatos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <div class="container-main">

            <div class="text-left">Nome da página</div>

            <div div class="text-righ">Home / Lista</div>

        </div>
    </header>

    @* ----- Barra lateral ----- *@

    <div class="barra">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span><p>Início</p></a></li>
            <li><a ><span class="glyphicon glyphicon-user"></span><p>Cadastrar</p></a></li>
            <li><a ><span class="glyphicon glyphicon-pencil"></span><p>Editar</p></a></li>
            <li><a ><span class="glyphicon glyphicon-remove"></span><p>Remover</p></a></li>
        </ul>
    </div>

    @* --- Fim Barra lateral --- *@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container-main">
            <div class="container-sub">

                <div class="text-left footer">Gerenciamento de contatos &copy; Open System</div>

                <div div class="text-righ">
                    Disponivel em: &nbsp;&nbsp;
                    <a href="https://github.com/filipecsant-dev" target="_blank" alt="GitHub Filipe Dev"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" /></a>
                </div>

            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
