@model teste.Models.Entities.Phone



<div class="form-group" id="clone">
    <label asp-for="Telefone" class="control-label"></label>
    <input asp-for="Telefone" class="form-control" name="Telefone[]" />
</div>





