@model teste.Models.ViewModel.ViewCadastro

@{
    ViewData["Title"] = "Cadastrar";
    ViewData["SubTitle"] = "Início / ";
}

<div class="details">
    <h1>Cadastrar contato</h1>
    <br />

    <div class="details-table">
        <div class=".col-md-4">
            <form asp-action="Cadastrar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    @* Carregando views *@

                    @await Html.PartialAsync("_CadastroView/_Contacts", Model)

                    <div id="novo_phone"> @await Html.PartialAsync("_CadastroView/_Phone", Model) </div>

                    <br />
                    @* Botão de adicionar telefone *@
                    <button type="button" class="btn btn-info" style="width: 100%;" id="add_phone">+ Adicionar Telefone</button>
                    <br />
                    <br />

                <div class="form-group">
                    <input type="submit" value="Cadastrar" style="width: 100%;" class="btn btn-success" />
                </div>
                
            </form>
        </div>
    </div>

    <br />
    <br />
    <a style="width: 100%;" asp-action="Index" type="button" class="btn btn-dark">Retornar</a>

</div>



@* Adicionando campo dinamicamente *@
<script type="text/javascript">

    $("#add_phone").click(function(){

        var clone = document.getElementById('clone').cloneNode(true);
        var destino = document.getElementById('novo_phone');
        destino.appendChild (clone);

        var camposClonados = clone.getElementsByTagName('input');

        for(i=0; i<camposClonados.length;i++){
            camposClonados[i].value = '';
        }

    });

    $('#Telefone').mask('(99) 99999-9999');

</script>