@model teste.Models.ViewModel.ViewEdit

@{
    ViewData["Title"] = "Atualizar";
    ViewData["SubTitle"] = "Início / ";
}


<div class="details">
    <h1 class="details-title">Atualizar contato</h1>
    <br />

    <div class="details-table">
        <div class=".col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @* Carregando views *@

                    @await Html.PartialAsync("_EditView/_Contacts", Model.Contacts)
                    
                    @await Html.PartialAsync("_EditView/_Phone", Model.Phone)
                    
                    @* View de adicionar telefone - carregada somente se add telefone *@
                    <div id="novo_phone" style="display: none;"> @await Html.PartialAsync("_EditView/_AddPhone", Model.MyPhone) </div>

                    <br />
                    @* Botão de adicionar telefone *@
                    <button type="button" class="btn btn-info" style="width: 100%;" id="add_phone">+ Adicionar Telefone</button>
                    <br />
                    <br />

                <div class="form-group">
                    <input type="submit" value="Atualizar" style="width: 100%;" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    
    <br />
    <br />
    <a style="width: 100%;" asp-action="Index" type="button" class="btn btn-dark">Retornar</a>

</div>




@* Adicionando campo dinamicamente *@
<script type="text/javascript">
    
    $(document).ready(function() {
        //Criando contador para mostrar a div e apos criar mais div        
        var i = 0;

        $("#add_phone").click(function(){
            
            var destino = document.getElementById('novo_phone');
            
            if(i == 0)
            {
                destino.style.display = 'block';
        
                i ++;
            }
            else
            {
                var clone = document.getElementById('clone').cloneNode(true);
                
                destino.appendChild (clone);

                var camposClonados = clone.getElementsByTagName('input');

                for(i=0; i<camposClonados.length;i++){
                    camposClonados[i].value = '';
                }

                
            }
            
        });

    });

    //Mascara em campo Telefone
    $('#Telefone').mask('(99) 99999-9999');

    function mask(o, f) {
        setTimeout(function() {
            var v = mphone(o.value);
            if (v != o.value) {
            o.value = v;
            }
        }, 1);
    }

    function mphone(v) {
        var r = v.replace(/\D/g, "");
        r = r.replace(/^0/, "");
            if (r.length > 10) {
                r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
            } else if (r.length > 5) {
                r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
            } else if (r.length > 2) {
                r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
            } else {
                r = r.replace(/^(\d*)/, "($1");
            }
        return r;
    }

    



</script>
