/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body{
  background-color: #f2f2f2;
}

.container-main{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #cccc;
  padding: 10px 0 10px 0;
  display: flow-root;
}

.text-left{
  font-size: 20px;
  float: left;
  margin-left: 10%;
}

.text-righ{
  font-size: 14px;
  float: right;
  margin-right: 10%;
  margin-top:5px;
}

.container{
  display: block;
  margin-top: 10px;
}

footer{
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer{
  font-size: 14px;
  margin-top: 3px;
}

.text-righ img{
  width: 25px;
  height: 25px;
}

.barra{
  height: 100%;
  width: 7rem;
  background-color: #1b1d21;
  position: fixed;
  color: #fff;
}

.barra ul{
  margin-top: 50px;
  list-style: none;
  margin-left: -20px;
}

.barra ul li{
  margin-bottom: 30px;
}

.barra span{
  font-size: 25px;
}

.barra p{
  font-size: 10px;
  text-align: center;
  margin-left: -20px;
  margin-top: 5px;
}

.barra a{
  text-decoration: none;
  color: #fff
}

.barra a:hover{
  color: #f2f2f2;
}

.table{
  margin: 5%;
}

.table th{
  font-weight: normal;
  text-align: center;
}

.table .bold{
  font-weight: bold;
}

.body{
  display: flex;
  justify-content: space-around;
}


@media only screen and (max-width: 800px) {
  /* Definindo posição da barra para horizontal */
  .barra{
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 1%;
  }

  .barra ul{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .barra ul li{
    margin-bottom: 0px;
    margin-left: 50px;
  }
  
  .barra span{
    font-size: 20px;
  }
  
  .barra p{
    margin-top: 0px;
    text-align: center;
    font-size: 8px;
    margin-left:2px;
  }
  

  /* Definindo body para ajustar lista */
  .container{
    width: 100%;
    margin-left: 0;
  }

  .table th{
    font-size: 14px;
  }

  .btn{
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px)
{
  /* Definindo body para ajustar lista */
  .container{
    width: 100%;
    margin-left: 0;
  }

  .table th{
    font-size: 10px;
  }

  .btn{
    font-size: 10px;
    padding: 5px;
  }
}

@media only screen and (max-width: 520px)
{
  /* Definindo body para ajustar lista */
  .table th{
    font-size: 9px;
  }

  .btn{
    font-size: 9px;
    padding: 4px;
  }
}

@media only screen and (max-width: 460px)
{
  /* Definindo body para ajustar lista - Mobile */
  .table{
    display: grid;
  }

  .btn{
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .btn a{
    margin-bottom: 2px;
  }
}
