/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body{
  background-color: #f2f2f2;
}

.container-main{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #cccc;
  padding: 10px 0 10px 0;
  display: flow-root;
}

.text-left{
  font-size: 20px;
  float: left;
  margin-left: 10%;
}

.text-righ{
  font-size: 14px;
  float: right;
  margin-right: 10%;
  margin-top:5px;
}

.container{
  display: block;
  margin-top: 10px;
}

footer{
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer{
  font-size: 14px;
  margin-top: 3px;
}

.text-righ img{
  width: 25px;
  height: 25px;
}